!!! 5
%html
  %head
    %title= "#{current_page.data.title || settings.title} - #{settings.site_name}"
    %meta(charset='utf-8')
    %meta(name='author'){content: settings.author}
    %link(rel='icon' type='image/png' href='/favicon.png')
    %link(rel='alternate' title='RSS' type='application/rss+xml' href='/entries.rss')
    = stylesheet_link_tag 'all', media: 'all'
    = stylesheet_link_tag 'http://coderwall.com/stylesheets/jquery.coderwall.css', media: 'all'
    = javascript_include_tag 'all'
    = javascript_include_tag 'http://coderwall.com/javascripts/jquery.coderwall.js'
  %body{class: page_classes}
    %header#header
      %h1
        = link_to settings.site_name, '/'
      %nav
        %ul#menu
          %li= link_to 'Home',     '/'
          %li= link_to 'About',    '/about.html'
          %li= link_to 'Archives', '/entries.html'
          %li= link_to 'Feed',     '/entries.rss', target: '_blank'
    #page
      #content= content_for?(:content) ? yield_content(:content) : yield
      %aside#sidebar
        %h3 Author
        .author= link_to settings.author.capitalize, '/about.html'
        .avatar= image_tag 'http://www.gravatar.com/avatar/de0df5acda15a9c7eeb6c28a5e5d4e8e.png?size=64'
        %h3 Recent entries
        .recent-entries
          %ul
            - blog.articles[0..5].each do |article|
              %li= link_to article.title, article
          .archives= link_to 'Archives', '/entries.html'
        %h3 Coderwall
        .coderwall{'data-coderwall-username' => settings.author, 'data-coderwall-orientation' => 'horizontal'}
    %footer#footer
      #{settings.site_name}
