!!! XML
%rdf:RDF(xmlns="http://purl.org/rss/1.0/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/")
  - recent_articles = articles[0..20]

  %channel{'rdf:about' => base_url}
    %title= settings.site_name
    %link= settings.base_url
    - if latest = articles.first
      %dc:date= latest.date.to_time.iso8601
    %description= settings.site_name
    %items
      %rdf:Seq
        - recent_articles.each do |article|
          %rdf:li{'rdf:resource' => article.url}/

  - recent_articles.each do |article|
    - content, url = article.render, article.url
    %item{'rdf:about' => url}
      %title= article.title
      %link= url
      %dc:date= article.date.to_time.iso8601
      %description= strip_tags(content)
      %content:encoded
        :cdata
          #{content.html_safe}
